body {
    background-image: url("Pics/forest.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/*

FADE IN FROM BLACK - COMING SOON ????
Source - https://stackoverflow.com/a/70499691
Posted by S Gautam, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-08, License - CC BY-SA 4.0


.overlay-black{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index:1;
    background-color:black;
    animation-name:fadeIn;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
*/

/* MUSIC PLAYER CSS*/
.music-player {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 275px;
    height: 100px;
    background: rgba(54, 51, 51, 0.42);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.slim-music-player {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 275px;
    height: 20px;
    background: rgba(54, 51, 51, 0.42);
    backdrop-filter: blur(3px);
    border-top-left-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.player-button {
    cursor: pointer;
    font-family: 'Ubuntu Mono', monospace;
    font-size: x-small;
    color: white;
    background-color: #4b4b4b;
}

.player-text {
    font-family: 'Ubuntu Mono', monospace;
    font-size: x-small;
    color: white;
}

.player-btn {
    cursor: pointer;
    border-radius: 18px;
    height: 25px;
    width: 25px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
    font-size: 12px;
    box-shadow:
        3px 3px 16px rgba(255, 255, 255, .83),
        5px 10px 15px rgba(0, 0, 0, .05),
        15px 20px 35px rgba(0, 0, 0, .1),
        inset -2px -2px 2px rgba(0, 0, 0, .1),
        inset -1px -1px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 8px rgba(255, 255, 255, .2),
        inset 1px 1px 8px rgba(255, 255, 255, .2),
        3px 3px 16px rgba(255, 255, 255, .8);
    background-color: #e9e9ef;
    margin: auto;
    position: absolute;
    border: 0;
    transition: 300ms ease-out;
    cursor: pointer;

    &:hover {
        box-shadow:
            4px 4px 6px rgba(0, 0, 0, .2),
            5px 10px 35px rgba(0, 0, 0, .1),
            8px 10px 25px rgba(0, 0, 0, .1),
            inset -1px -1px 9px rgba(0, 0, 0, .2),
            inset -1px -1px 3px rgba(255, 255, 255, .6),
            inset 1px 1px 8px rgba(255, 255, 255, 1),
            inset 4px 4px 24px rgba(0, 0, 0, .15),
            -5px -5px 15px rgba(255, 255, 255, .9);
        transform: scale(.98);


    }

    &:active,
    &:focus {
        box-shadow: inset 2px 2px 16px rgba(255, 255, 255, .9), inset 8px 8px 9px rgba(0, 0, 0, .2), 5px 10px 5px rgba(0, 0, 0, .03), -5px -5px 25px rgba(255, 255, 255, .1), -2px -2px 9px rgba(100, 100, 100, .1), inset -2px -2px 9px rgba(255, 255, 255, 1);
        outline: none;
        background-color: #e5e5ef;
        text-shadow: -2px -2px 3px rgba(0, 0, 0, .2), 2px 2px 3px rgba(255, 255, 255, 1);
        transform: translateY(3px);
    }
}

button.second {
    top: 10%;
}

/*DECORATIVE ELEMENTS CSS*/
.gif-girl {
    position: absolute;
    height: 220px;
    transform: translate(760px, 1330px);
}

.diamond {
    position: absolute;
    height: 70px;
    -webkit-animation: breathing 4s ease-out infinite normal;
    animation: breathing 4s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
        transform: translate(834px, 525px) scale(0.9);
    }

    25% {
        transform: translate(834px, 525px) scale(1);
    }

    60% {
        transform: translate(834px, 525px) scale(0.9);
    }

    100% {
        transform: translate(834px, 525px) scale(0.9);
    }
}

.recoride {
    position: absolute;
    height: 110px;
    transform: translate(40px, 790px);
}

.wires {
    position: absolute;
}

.orchid {
    height: 450px;
    position: absolute;
    transform: translate(-50px, -400px);
}

.main {
    margin: auto;
    width: 1100px;
    height: 1825px;
    position: relative;
}

/* HOME PAGE CSS */
.motherboard {
    position: absolute;
    margin: auto;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 30px rgba(58, 86, 27, 0.5));
}

.main-box {
    position: absolute;
    width: 670px;
    transform: translate(223px, 420px);
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(80, 80, 80);
    background-image: url("Pics/StaticBG.jpg");
    display: flex;
}

.abt-me-box {
    font-family: 'Pixel Space', monospace;
    overflow-y: scroll;
    scrollbar-color: rgb(112, 112, 112) rgb(83, 83, 83);
    scrollbar-width: thin;
    border: 5px groove rgb(54, 54, 54);
    height: 469px;
    width: 480px;
    padding: 10px;
    color: white;
}

.right-box {
    color: white;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    font-size: small;
    border: 3px groove rgb(92, 92, 92);
    height: 159px;
    width: 200px;
}

.status-box {
    text-align: left;
    background-color: rgb(129, 129, 129);
    border-radius: 5px;
    border: 2px groove rgb(102, 102, 102);
    margin: 5px;
    padding: 10px;
}

.other-box-1 {
    background-image: url("Pics/StaticBG.jpg");
    border-radius: 5px;
    border-style: groove;
    border-width: 5px;
    border-color: rgb(80, 80, 80);
    color: white;
    font-family: "Ubuntu Mono", monospace;
    height: 206px;
    width: 270px;
    transform: translate(222px, 1000px);
}

.other-box-2 {
    background-image: url("Pics/StaticBG.jpg");
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(80, 80, 80);
    color: white;
    font-family: "Ubuntu Mono", monospace;
    height: 204px;
    width: 267px;
    transform: translate(629px, 787px);
}

.other-box-3 {
    background-image: url("Pics/StaticBG.jpg");
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(80, 80, 80);
    color: white;
    font-family: "Ubuntu Mono", monospace;
    height: 200px;
    width: 270px;
    transform: translate(391px, 869px);
}

.homepg-button {
    position: absolute;
    background-color: grey;
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(198, 49, 49);
    cursor: pointer;
    border: 2px solid 636363;
    padding: 0.25em 0.5em;
    text-shadow: 1px 1px 1px rgb(138, 33, 33);
    box-shadow:
        1px 1px 0px 0px #4b4b4b,
        2px 2px 0px 0px #4b4b4b,
        3px 3px 0px 0px #4b4b4b,
        4px 4px 0px 0px #4b4b4b,
        5px 5px 0px 0px #4b4b4b;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    animation: blinker 3s linear infinite;
}

.homepg-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

@keyframes blinker {
    50% {
        color: transparent;
        text-shadow: none;
    }
}

.button-one {
    letter-spacing: 4px;
    width: 159px;
    height: 34px;
    transform: translate(325px, -456px);
}

.button-two {
    letter-spacing: 4px;
    width: 168px;
    height: 33px;
    transform: translate(368px, -455px);
}

.button-three {
    font-size: large;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -4px;
    height: 125px;
    width: 39px;
    transform: translate(607px, 160px);
}

.button-four {
    font-size: large;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -4px;
    height: 117px;
    width: 43px;
    transform: translate(565px, 380px);
}

/* ABOUT ME PAGE CSS BELOW*/

.about-body {
    font-size: small;
    font-family: "Kode Mono", monospace;
    background-image: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba(96, 106, 174);
}

.about-box {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 200px 270px;
    padding: 15px 30px;
    border: 1px groove black;
    border-radius: 3px;
    background: radial-gradient(#fefff0de, #ffe6fee4);
    position: fixed;
    height: 360px;
    width: 690px;
}

.about-nav {
    overflow-y: none;
    margin: 200px 1050px;
    padding: 15px;
    border: 1px groove black;
    border-radius: 3px;
    background: radial-gradient(#fefff0de, #ffe6fee4);
    position: fixed;
    height: 360px;
    width: 130px;
}

.abt-gif {
    height: 45px;
    padding: 0px 20px;
}

/* PROJECTS PAGE CSS BELOW*/

.pjct-body {
    background-image: url("Pics/beach.jpg");
    background-color: rgb(255, 254, 233);
}

.motherboard-two {
    position: absolute;
    height: 750px;
    margin: 30px 100px;
}

.pjct-box {
    padding: 10px;
    color: black;
    width: 555px;
    height: 520px;
    transform: translate(615px, 145px);
    background-color: #dbc5d1;
    position:position;
    border: 1px solid #b1838c;
}
.pjct{
    display:none;
}

.pjct-btn {
    position: absolute;
    background-color: rgb(35, 35, 35);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    box-shadow:
    inset 0 -0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.596),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(41, 41, 41);
}

.pjct-title {
    transform:translate(75px, 60px);
    position:absolute;
    height: 20px;
    width:  70px;
    background-color: rgb(115, 115, 115);
    padding: 20px;
     box-shadow:
    inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgba(0, 0, 0, 0.332),
    inset 0 0.1875em 0.0625em rgba(255, 255, 255, 0.781),
    0 0.125em 0.125em rgb(41, 41, 41);
}

.pjct-btn:hover {
    cursor: pointer;
    background-color: rgba(77, 77, 77, 0.822);
    box-shadow:
    inset 0 -0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.375),
    inset 0 -0.125em 0.0625em rgba(177, 156, 156, 0.2),
    inset 0 0.1875em 0.0625em rgba(0, 0, 0, 0.3),
    0 0.125em 0.125em rgb(56, 56, 56);
}
.pjct-btn:active {
  border-top: 1px solid transparent;
}

.red-light{
    display:none;
    position: absolute;
    height: 33px;
    animation: glowPulse 2s infinite alternate;
}

@keyframes glowPulse {
  from {
    filter: drop-shadow(0 0 0px red)
            drop-shadow(0 0 0px red);
    opacity: 0;
  }
  to {
    filter: drop-shadow(0 0 18px red)
            drop-shadow(0 0 35px red);
    opacity: 1;
  }
}