body {
    background-image: url("Pics/forest.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.gif-girl {
    position: relative;
    height: 220px;
    top: 1550px;
    left: 750px;
}

.recoride {
    position: relative;
    height: 110px;
    top: 910px;
    left: -250px;
}

.main {
    margin: auto;
    margin-top: -300px;
    width: 1100px;
    height: 1825px;
    position: center center;
    background-color: rgb(0, 0, 255);
}

.motherboard {
    position: relative;
    margin: auto;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-box{
    position: relative;
    left: 224px;
    bottom: 1410px;
    height: 490px;
    width: 670px;
    border-radius: 5px;
    border-style: groove;
    border-width: 3px;
    border-color:rgb(80, 80, 80);
    background-color: rgb(92, 92, 92);
}

p {
    color:white;
    font-family: "Ubuntu Mono", monospace;
}
.homepg-button {
    position: relative;
    color: rgb(255, 0, 0);
    font-family: "Ubuntu Mono", monospace;
    font-size: 23px;
    background-color: rgb(92, 92, 92);
    border-radius: 0;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        color: transparent;
    }
}

.button-one {
    letter-spacing: 4px;
    width: 159px;
    height: 34px;
    left: 329px;
    bottom: 2139px;
}

.button-two {
    letter-spacing: 4px;
    width: 168px;
    height: 33px;
    left: 373px;
    bottom: 2139px;
}

.button-three {
    font-size: large;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -4px;
    height: 122px;
    width: 39px;
    left: 612px;
    bottom: 1529px;
}

.button-four {
    font-size: large;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -4px;
    height: 117px;
    width: 42px;
    left: 571px;
    bottom: 1309px;
}